* {
    scroll-behavior: smooth;
}

.App {
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media(max-width:700px) {
    .App {
        padding-top: 75px;
    }
}

.pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", cursive;
    font-size: 3.5vw;
    padding: 4px;
    border-radius: 50px;
    color: rgb(216, 216, 216);
}

@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6vw;
    }
}